@import './../fonts/fonts.css';
@import './base/variables';
@import './base/mixins';
@import './base/normalize';
@import './base/common';
@import './base/bootstrap-override';

@media (max-width: 1399px) {
  .hidden-xl { display: none !important; }
}

@media (max-width: 1199px) {
  .hidden-lg { display: none !important; }
}

@media (max-width: 991px) {
  .hidden-md { display: none !important; }
}

@media (max-width: 767px) {
  .hidden-xs { display: none !important; }
}